@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-error {
  & .decor {
    &__wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 110%;
      @media (max-width: $breakpoint-md) {
        width: 150%;
      }
    }

    width: 100%;

    transform-origin: center;
    animation: rotate 9s linear infinite;
  }

  &__inner {
    height: 100vh;

    &:after {
      content: '';
      background-color: #1364FF;
      height: 500px;
      width: 500px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: blur(65px);
      @media (max-width: $breakpoint-md) {
        height: 400px;
        width: 400px;
        filter: blur(45px);
      }
    }
  }

  &__img {
    width: 100%;
    max-width: 380px;
    @media (max-width: $breakpoint-md) {
      max-width: 260px;
    }
    @media (max-width: 400px) {
      max-width: 220px;
    }
    margin: 0 auto;
  }

  & .description {
    margin-bottom: 40px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
    }
  }

  & .btn-primary {
    width: 100%;
    max-width: 180px;
    background-color: #fff;
    margin: 0 auto;
  }
}