@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-sign {
  padding: 230px 0 159px 0;
  min-height: 100vh;
  @media (max-width: $breakpoint-md) {
    padding: 139px 0 59px 0;
    position: relative;
  }

  .circle {
    &-1 {
      width: 200px;
      object-fit: contain;
      @media (max-width: $breakpoint-md) {
        width: 132px;
        position: absolute;
        bottom: 19px;
        height: 132px;
        z-index: 56;
      }
    }

    &-2 {
      margin-top: auto;
      margin-left: auto;
      width: 140px;
      object-fit: contain;
      @media (max-width: $breakpoint-md) {
        width: 130px;
        position: absolute;
        right: -50px;
        z-index: 3;
      }
    }

    &__wrap {
      @media (min-width: $breakpoint-md) {
        height: 350px;
        width: 220px;
        position: absolute;
        left: 47%;
        top: 11%;
      }
    }
  }

  & .blockquote__wrap {
    min-height: 530px;
    text-align: center;
    overflow: hidden;

    blockquote {
      &:after {

      }
    }

    img.decor-1 {
      position: absolute;
      top: 40px;
      left: -150px;
      width: 290px;
    }

    img.decor-2 {
      position: absolute;
      bottom: 40px;
      right: -150px;
      width: 290px;
    }
  }

  & .decor {
    &__wrap {
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translateY(-50%);
      width: 1500px;
      height: 1500px;
      @media (max-width: $breakpoint-md) {
        width: 740px;
        height: 740px;
        left: 10%;
        transform: none;
        top: -10%;
      }
    }

    width: 100%;

    transform-origin: center;
    animation: rotate 9s linear infinite;
  }

  & .heading {
    font-family: Alice, serif;
    margin-bottom: 24px;
    @media (max-width: $breakpoint-md) {
      text-align: center;
    }
  }

  & .description {
    font-family: Alice, serif;
    margin-bottom: 40px;
    @include fontSize(16, 24);
    width: 75%;
    @media (max-width: $breakpoint-md) {
      margin: 0 auto 32px auto;
      text-align: center;
      width: 85%;
      max-width: 240px;
    }
  }

  & .form-control {
    margin-bottom: 40px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
    }

    &__btn {
      width: 100%;
      margin-bottom: 20px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 32px;
      }
    }
  }
}